In [35]:
from pandas_datareader import data
from datetime import datetime
from bokeh.plotting import figure, show, output_file

In [43]:
starttime = datetime(2019,1,1)
endtime = datetime(2019,3,10)

In [44]:
df = data.DataReader(name="GOOG",data_source="yahoo",start=starttime,end=endtime)
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300,1035.609985
2019-01-02,1052.319946,1015.710022,1016.570007,1045.849976,1532600,1045.849976
2019-01-03,1056.979980,1014.070007,1041.000000,1016.059998,1841100,1016.059998
2019-01-04,1070.839966,1027.417969,1032.589966,1070.709961,2093900,1070.709961
2019-01-07,1074.000000,1054.760010,1071.500000,1068.390015,1981900,1068.390015

In [45]:
def inc_dec(c,o):
    if c>o:
        value="increase"
    elif c<o:
        value = "decrease"
    else: value = "equal"
    return value

df["Status"] = [inc_dec(c,o) for c,o in zip(df.Close,df.Open)]

In [46]:
df["Middle"] = (df.Close + df.Open)/2
df["Height"] = abs(df.Close - df.Open)

In [50]:
p = figure(x_axis_type="datetime", width=600, height=300,sizing_mode="scale_height")
p.title.text="candlestick chart"

p.grid.grid_line_alpha=0.3

hours_ms = 12*60*60*1000

p.segment(df.index, df.High, df.index, df.Low)

p.rect(df.index[df.Status=="increase"], df.Middle[df.Status=="increase"],
      hours_ms, df.Height[df.Status=="increase"],fill_color="green", line_color="black")

p.rect(df.index[df.Status=="decrease"], df.Middle[df.Status=="decrease"],
      hours_ms, df.Height[df.Status=="decrease"],fill_color="red", line_color="black")
p.line(df.index,df["Close"],color = "green")

output_file("candlestick.html")
show(p)